@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}
